@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;

}

h1, h2, h3, p, dialog, button {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    height: 100vh;
}

#content h1{
    margin: 1rem;
    font-size: 3rem;
}

.game-container {
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 1.5rem;
}


.chat-container {
    max-height: 35rem;
    width: 30rem;
}

.profile-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile img{
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    border-radius: 3rem;
}

.elo-container {
    display: flex;
    gap: 0.5rem;
}

.message-container {
    background-color: #2f2f2f;
    height: calc(100% - 3rem);
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    overflow: scroll;

}

.ai-message {
    background-color: #525252;
    margin-right: 5rem;
}

.human-message, .ai-message {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.human-message {
    background-color: #181818;
    margin-left: 5rem;
}


.input-container {
    padding-top: 1rem;
    display: grid;
    background-color: #2f2f2f;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

.input-container input[type='text'] {
    width: 100%;
    background-color: transparent;
    padding: 0.5rem;
    background-color:  #525252;
    border-radius: 1rem;
    color: white;
}


.input-container form {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.input-container button {
    background: none;
    border: none;
    padding: 0;
    display: inline-flex;
    cursor: pointer;
    color: white


}

.input-container form button:hover{
    color: rgb(149, 149, 149);
}

dialog {
    background-color: #4A4A4A;
    border: 1px solid #7a7a7a;
    border-radius: 1rem;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
}

.gameover-container {
    font-family: "Poppins", sans-serif;
    background-color: #4A4A4A;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

dialog button {
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;

}

dialog button:hover {
    background-color: rgb(188, 188, 188);

}
